body {
    margin: 0;
    background: rgb(0, 27, 36);
    background: linear-gradient(90deg, rgba(0, 27, 36, 1) 0%, rgba(9, 9, 121, 0.7654320987654322) 35%, rgba(0, 212, 255, 0.5975308641975309) 100%);
    color: #fff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

hr {
    width: 80%;
    margin: 40px auto;
}

.form-container {
    margin-top: 50px;
    text-align: left;
}

.title {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 0;
}

.sub-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 0;
}

form {
    margin: auto;
    width: 80%;
}

.sub-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input,
select {
    width: 20rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
}

label {
    font-size: 1.3rem;
}


.submit {
    margin: 20px auto;
    text-align: center;
}

#submit {
    border: solid 3px #fff;
    width: 100%;
    height: 4rem;
    border-radius: 8px;
    background-color: rgb(201, 201, 222);
    cursor: pointer;
    color: rgb(84, 84, 173);
    font-size: 1.5rem;
    font-weight: 700;
}

#submit:hover {
    color: rgb(6, 6, 113);
}

.interestDisplay {
    font-size: 2rem;
    font-weight: 700;
}


/* enrolled investors section */
.display-container {
    margin-top: 50px;
}

.savings-pool {
    display: flex;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    font-size: 1.5rem;

}

.pool-display {
    background-color: #fff;
    width: 60%;
    color: #043473;
    margin: auto;
}

.total-pooled {
    width: 40%;
    background-color: #043473;
    color: #fff;
    margin: auto;


}

table {
    margin: auto;
    border-collapse: collapse;
    width: 95%;
    background-color: rgb(252, 247, 241);
    overflow: hidden;
    color: rgb(5, 5, 94);
    font-size: 0.9rem;
}

.table-name {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}

th {
    width: 15%;
    height: 2.5rem;
    font-size: 1.2rem;
}

/* annonymous error class */
.errorClass {
    background-color: rgb(246, 195, 195);
}

.roi-disp {
    background-color: #DFF6FF;
    color: #043473;
    font-weight: 700;
}

.exit-date {
    width: 80%;

}

.withdraw-button {
    width: 80%;
    border: solid 2px;
    background: rgb(44, 32, 95);
    cursor: pointer;
    color: #ffff;
    font-weight: 700;
}

@media only screen and (max-width: 780px) {
    .sub-container {
        display: block;
        text-align: center;
    }
}